@font-face{
 font-family: Makinas;
 src: url('./font/Makinas-4-Square.otf'), format('opentype');
}


body {
  background: #042022;
  padding: 0;
  margin: 0;
  font-family: Makinas;
}

.content {
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  text-align: center;
  max-width: 1440px;
  margin: auto;
}

.header {
  color:  #67FFDC;
}
.header-text {
  border-bottom: 3px solid #67FFDC;
  padding-bottom: 10px;
  font-size: 20px;
}

.content-body {
  display: flex;
  margin: 15px 5% 0 5%;
  justify-content: space-around;
}

.row {
  margin-left: 20px;
  margin-right: 20px;
}

.item-container {
  width: 240px;
  margin-bottom: 20px;
}
.item-image {
  width: 240px;
}

.item-detail {
  border: 1px solid #67FFDC;
  background: #143740;
  color: #67FFDC;
}

.footer {
  background: #2A4648;
  margin-top: -2px;
  z-index: 2;
  color: #67FFDC;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.menu-box {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 10px 8% 10px 8%;
}
.item-box {
  position: relative;
  align-items: center;
  justify-content: center;
}

.menu-item {
  margin: 0;
  font-size: 35px;
  color: #000000;
  z-index: 2;
  position: relative;
}

.shadow-box {
  height: 0px;
  width: 150px;
  margin-left: -20px;
  margin-top: -18px;
  z-index: 0;
  box-shadow: 0 0 20px 15px #67FFDC;
  position: absolute;
  transform: translate(0, -50%);
}
